<h2><%= t('admin_mailer.contact_message.subject') %></h2>

<p>
  <strong>First Name</strong><br />
  <%= @contact_message.first_name %><br />
</p>

<p>
  <strong>Last Name</strong><br />
  <%= @contact_message.last_name %><br />
</p>

<p>
  <strong>Email</strong><br />
  <%= @contact_message.email %><br />
</p>

<p>
  <strong>Reason</strong><br />
  <%= @contact_message.reason %><br />
</p>

<p>
  <strong>Message</strong><br />
  <%= @contact_message.message %><br />
</p>
